@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*/
html,body{
  min-width: 365px;
  font-family: "Poppins", sans-serif;
}

body
{
  line-height: 1.4;
}
h1 {
  /* font-size: clamp(2rem, 2.6vw + 1rem, 4rem); */
  
  font-weight:600;
  line-height: normal;
  
}
.heading-text {
  font-size: clamp(2rem, 2.6vw + 1rem, 4rem) !important;
  font-weight:700;
  line-height: normal;
  
}

.blog-content-editor h1{
  font-size: clamp(1.6rem, 1.9vw + 0.9rem, 2.9rem);
}
.about-heading{
  font-size: clamp(2.5rem, 0.8vw + 0.8rem, 2.4rem) ;
  font-weight:700;
}

h2,.heading-h2 {
  /* font-size: clamp(1.8rem, 0.9vw + 0.8rem, 2.4rem) ; */
  font-size: clamp(1.5rem, 3.5vw, 1.875rem);
  font-weight:700;
}

.heading-h2-text {
  font-size: clamp(2.2rem, 0.8vw + 0.8rem, 2.4rem) ;
  font-weight:700;
}
.blog-content-editor h2, .ql-snow .ql-editor h2{
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  font-weight: 700;
  margin-bottom: 0.7rem;
}
.blog-content-editor ul{
  list-style:disc;
  padding-left: 50px;
}
.blog-content-editor ol{
  list-style:decimal;
  padding-left: 50px;
}

h3 {
  font-size: clamp(1.3rem,1.5vw + .7rem,1rem);
}
.blog-content-editor h3, .ql-snow .ql-editor h3{
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 500;
  margin-bottom: 0.7rem;
}

h4 {
  font-size: clamp(1.3rem, 1.3vw + 0.6rem, 1.65rem);
}
.blog-content-editor h4, .ql-snow .ql-editor h4{
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 500;
  margin-bottom: 0.7rem;
}

h5 {
  font-size: clamp(1.2rem, 1.1vw + 0.5rem, 1.4rem);
}
.blog-content-editor h5,  .ql-snow .ql-editor h5{
  font-size: 1rem /* 16px */;
  line-height: 1.5rem /* 24px */;
  font-weight: 500;
  margin-bottom: 0.7rem;
}

h6 {
  font-size: clamp(1.1rem, 0.9vw + 0.4rem, 1.15rem);
}
.blog-content-editor h6,  .ql-snow .ql-editor h6{
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  font-weight: 500;
  margin-bottom: 0.7rem;
}

p {
  font-size: clamp(1rem, 1.5vw + 0.4rem, 1.1rem);
}
.homecard-ptag p {
  font-size: clamp(0.9rem, 1.3vw + 0.3rem, 1rem);
}
.homecard-ptag_lineheight p {
  font-size: clamp(0.9rem, 1.3vw + 0.3rem, 1rem);
  line-height: 30px;
}
.blog-content-editor p, .ql-snow .ql-editor p{
  margin-bottom: 1.5rem;
}
.blog-content-editor p img,.ql-snow .ql-editor p img {
  aspect-ratio: 16 / 9; /* Maintains the 16:9 aspect ratio */
  width: 100%; /* Ensures the image takes the full width of its container */
  height: auto; /* Maintains the aspect ratio and adjusts the height automatically */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  max-width: 100%; /* Ensures the image does not overflow its container */
  max-height: 520px; /* Sets a maximum height to prevent overly large images */
}


.custom-border-radius-1 {
  border-radius: 31% 69% 51% 49% / 48% 66% 34% 52% ;
}
.custom-border-radius-2 {
  border-radius:  47% 53% 29% 71% / 35% 49% 51% 65% ;
}

/* For Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width of the scrollbar */
  height: 6px; /* Adjust the height for horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Thumb hover color */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px;
}

.ql-container.ql-snow {
  border-top: 0px;
  min-height: 100px;
  border-radius:0 0 5px 5px;
  background-color: #fff;
}

.ql-container.ql-snow .ql-formats{
  color: #39ac31;
}



.ql-toolbar.ql-snow {
  border: 1px solid #ccc;
  background-color: rgb(187, 187, 187);
  border-radius: 5px 5px 0 0 ;
  position: relative;
  top:0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding:4px;
}
.ql-editor {
  overflow-y: auto;
  max-height: 100vh;
  padding: 10px 10px;
  /* scrollbar-width: thin; Firefox */
  
  
}

.ql-editor::-webkit-scrollbar {
  width: 0.8vw; /* Scrollbar width */
}

.ql-editor::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 0px; /* Rounded edges */
}

.ql-editor::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Thumb hover color */
}

.ql-editor::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar track color */
  border-radius: 0px;
}
.ql-snow .ql-editor img {
  width: 100%; /* Make the image take up the full width of the container */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Remove any inline-block spacing */
  margin: auto; /* Center the image horizontally */
  max-height: 550px; /* Set a maximum height to prevent oversized images */
  object-fit: contain; /* Ensure the image scales correctly */
}
/* .editor-content{
  position: relative;
}
.editor-content .ql-toolbar.ql-snow{
  position: sticky;
  top:20px;
  z-index: 10;
  background-color: white;
}
.editor-content .ql-container .ql-snow{
  height: 100vh;
  overflow-y: auto;
} */












/* 404 stone age person */

/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url('/gif/stone_age.gif');
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}








/* react silk */
/* This CSS will target the slick-slide and remove any set width */
.brand-slider  .slick-slide {
  width: auto !important; /* Ensures the width is overridden */
}

.homepage-card-slider .slick-list .slick-track {
  display: flex;
  gap: 5.3rem;
}

/* .homepage-card-slider .slick-slider .slick-track, .slick-slider .slick-list {
  padding-bottom: 25px;
} */


/* Remove default styling (the down arrow) */
select {
  padding-right: 20px; /* Arrow ke right side me space ke liye */
  appearance: none; /* Default arrow hatana */
  background: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 stroke%3D%22currentColor%22 fill%3D%22currentColor%22 stroke-width%3D%220%22 viewBox%3D%220 0 512 512%22 height%3D%22200px%22 width%3D%22200px%22%3E%3Cpath d%3D%22M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z%22%3E%3C/path%3E%3C/svg%3E') no-repeat right 12px center;
  background-size: 12px; /* Arrow ka size adjust karna */
}

.container {
  width: 100%;              /* Full width by default */
  max-width: 1500px;        /* Maximum width of 1500px */
  min-width: 320px;         /* Minimum width of 320px */
  /* margin: 0 auto;           */
  padding: 0 1.5vw;          /* Horizontal padding of 6rem */
}

.footer-content p{
  font-size: inherit;
}



::selection {
  background-color: #6D27E5; /* Background color when text is selected */
  color: white; /* Text color when selected */
}


h3 {
font-size: clamp(1.4rem, 1.5vw + 0.7rem, 1.2rem);
}
.countingtitle h5 {
font-size: 17px;
font-weight: 600;
line-height: 29px;
}
.countingtitle .text-h1 {
font-size: clamp(2.5rem, 5vw, 2.5rem);
margin-right: 5px;
}
.w-\[94\%\] {
width: 94%;
}
.mt-\[60px\] {
margin-top: 60px;
}
@media screen and (min-width: 1600px) {
.text-h2 {
font-size: clamp(1.5rem, 3.5vw, 2.5rem);
}
}
.text-h1 {
font-size: clamp(2.5rem, 5vw, 2rem);
font-weight: 600;
line-height: 1.3;
}
.text-h2 {
font-size: clamp(1.5rem, 3.5vw, 2.3rem);
}
p {
font-size: clamp(1rem, 1.5vw + 0.4rem, 1rem);
line-height: 1.6;
}
.text-h2_large {
font-size: clamp(2rem, 3vw, 2.4rem);
line-height: 1.3;
}
.border-l-2.border-muted.h-16 {
/* background: red; */
border-color: #ffffff1c;
}
button.flex.items-center.justify-between.w-full.px-4.py-5.sm\:p-6 {
outline: none;
}
.text-h4 {
font-size: clamp(1rem, 3vw, 1.4rem);
line-height: 1.4;
}
.text-h2_medium {
font-size: clamp(1.6rem, 3.8vw, 2.1rem);
line-height: 1.4;
}
.bg-card.bg-white.h-100 {
height: 100%;
}
.max-w-2xl {
max-width: 53rem;
}
.rounded-xl.border {
border: none;
}
.bg-opacity-30 {
--tw-bg-opacity: 0.37;
}
.text-p {
line-height: 1.6;
}
/*.container.pl-0
{
padding-left: 0 !important;
}*/
header.text-black .font-medium {
font-size: 17px !important;
padding: 23px 10px;
}
header.text-black ul.absolute {
width: 200px;
padding: 5px;
}
header.text-black ul.absolute .font-medium {
padding: 8px 15px;
}
.text-h2_big {
font-size: clamp(1.5rem, 4vw, 2.4rem);
line-height: 1.4;
}
@media screen and (max-width: 1599px) {
.container {
padding: 0 3vw;
/* Horizontal padding of 6rem */
}
}
@media screen and (max-width: 1023px) 
  {
    .hideon_tabwave
    {
      display: none;
    }
  }
@media screen and (max-width: 1100px) {
.text-h2 {
font-size: clamp(1.5rem, 3.5vw, 2rem);
}
.text-h2_big {
font-size: clamp(1.5rem, 4vw, 2.3rem);
line-height: 1.4;
}
}
@media screen and (max-width: 991px) {
.ontab_210 {
height: auto !important;
}
.homecard-ptag.md\:h-\[480px\] {
height: 330px !important;
}
}
.subtext_bottom p
{
text-align: center;
}
.ptb_11rem
{
padding: 5rem 0;
}
@media screen and (max-width: 850px) {
.text-h2 {
font-size: clamp(1.5rem, 3.5vw, 1.5rem);
}
.text-h2_big {
font-size: clamp(1.5rem, 4vw, 1.7rem);
line-height: 1.4;
}
}
@media screen and (max-width: 800px) {
.homecard-ptag .text-h2_small {
font-size: clamp(1.2rem, 3.4vw, 1rem);
}
h5 {
font-size: clamp(1rem, 1.1vw + 0.5rem, 1rem);
}
.tabhalf_grid {
grid-template-columns: repeat(2, minmax(0, 1fr));
}
}
.tavleft
{
text-align: left;
}
@media screen and (max-width: 639px) {
.tavleft
{
text-align: center;
}
}
@media screen and (max-width: 767px) {
.tabmb_30 {
margin: 30px 0;
}
.ptb_11rem
{
padding: 5rem 0 3rem;
}
.mttab30
{
margin-top: 30px;
}
.sm-pb-0 {
padding-bottom: 0;
}
.hideon_tab {
display: none;
}
.reverseonmob
{
flex-direction: column-reverse !important;
}
}
@media screen and (max-width: 575px) {
.text-h1 {
font-size: clamp(1.5rem,5vw,2rem);
font-weight: 600;
line-height: 1.3;
}
.bg-card.bg-white.h-100 {
text-align: center;
}
.text-h4 {
font-size: clamp(1rem, 3vw, 1rem);
}
.logocol .css-1c2fuzs {
width: 45%;
text-align: center;
}
.logocol .css-1c2fuzs img {
margin: auto;
}
.about-heading {
font-size: clamp(1.8rem, 0.8vw + 0.8rem, 2.4rem);
}
.mob_number .justify-between {
justify-content: center;
}
.mob_number .rightpos_numb {
position: absolute;
top: 20px;
right: 20px;
}
.text-h2_large {
font-size: clamp(1.6rem, 3vw, 2.2rem);
}
.tabmb_30 {
margin: 10px 0;
}
}
.h-100.whychoosebox_card 
{
height: 100%;
}
.product_doublebrand
{
  width: 200px;
  height: 100px;
  margin: auto;
}












header.text-black ul.absolute li {
  border-bottom: 1px solid #dddddd38;
}
header.text-black ul.absolute li:last-child {
  border-bottom: none;
}
header.text-black ul.absolute {
  max-width: 270px;
  width: 300px !important;
  padding: 0;
}
header.text-black ul.absolute .font-medium {
  padding: 8px 15px;
  word-break: break-word;
  white-space: break-spaces;
  font-size: 16px !important;
  line-height: 26px;
}


.grid_center .css-1vscx9z:nth-child(3):last-child {
  grid-column: span 2;
  justify-self: center;
  max-width: 50%;
}
@media screen and (max-width: 639px)
{
	.grid_center .css-1vscx9z:nth-child(3):last-child {
    grid-column: 1;
    justify-self: center;
    max-width: 100%;
    width: 100%;
}
.grid-cols-1.whychoose_boxes {
    grid-template-columns: auto;
}
}




















table.ql-table-better tr, table.ql-table-better td {
  border: 1px solid #00000069;
  padding: 10px;
  
}

table.ql-table-better p {
  margin: 0;
}


.ql-editor li[data-list="bullet"]::before {
  content: "• ";
}
/* .ql-editor ol li[data-list="bullet"] {
  list-style-type: disc;
} */

/* .ql-table-better{
  max-width: 100% !important;
} */


@media screen and (max-width: 767px)
{
	.max-w-\[380px\].blogm_width {
    max-width: 100%;
    width: 100%;
}
}

.text-h5.blogsidebar_head {
  font-size: 17px;
  line-height: 27px;
  }